{% include "header.html" %}

<!-- Page Header-->
<header
        class="masthead"
        style="background-image: url('https://images.unsplash.com/photo-1457369804613-52c61a468e7d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')"
>
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">A glimpse into the mind of a Visionary.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p><strong>Hello everyone! </strong></p>

                <p>
                    My name is <b>GenialSmileAdam</b>, but you can call me Adam for short. Welcome to my blog, I'm very
                    excited to have you here, and I know you have some questions for me about what The Archive and the
                    Hermes Society is all about. Don't you worry I've got you😉.

                </p>
                <p>
                    But before that, I must explain how I became <b>Adam</b> , the <b>Visionary</b> you all know and
                    love (yes, leave
                    me to my delusions 😂). it all started about 10 years ago when my love for superheroes and novels
                    blossomed, I would run around my house and neighborhood pretending to be Spider-man, very mature😁, I
                    know.

                </p>
                <p>
                    You see, I found a certain joy in this... other <b>world</b>, the one within <b>my imagination</b>,
                    and the nature
                    of these world's most people don't see, or better yet, they refuse to. That secluded joy I found
                    only increased as I
                    began to journey into the worlds within the minds of authors, artists and creators of different
                    kinds. Creators who allowed their own inner world to flourish far greater than I could fathom
                    .Fast-forward to when I entered university, a bright-eyed individual ready to explore the
                    minds of the artists within its academic confines, and to share the world within me, in hopes to
                    grow and aid others in their own growth.

                </p>
                <p>
                    <b>Spoiler</b>, Reality had other plans 😂.
                </p>
                <p> But luckily for me, I found my people, a group who shared my obsession with fiction, and that's more
                    than I can ask for. Heavily inspired by this friend group of mine, I wanted to create a large
                    community with whom I could share my passion with, a community that a younger Adam would have loved
                    to be in.

                </p>
                <p> Enter the <b>Hermes Society</b>, a discord channel (Heavily inspired by my favorite
                    book,<i>Babel</i> by R.F Kuang) where we read novels and debate philosophy, and geek out. The goal?
                    <b>Global domination</b> (of the literary variety, of course... 😶‍🌫️)</p>

                <p> But you see, There’s just one tiny problem: getting people to join the book club and be active. So,
                    I came up with a <b>brilliant plan </b>😌,which led to this blog, <b>The Archive</b> ( it's a very
                    cool name, I
                    know😎). Here, I'll share my reviews, insights and hopefully attract like minds.</p>


                <p><b>Thank you</b> for being here. Now, let’s get lost in endless worlds together—see you on <b>Discord!</b>
                </p>


            </div>
        </div>
    </div>
</main>

{% include "footer.html" %}
